@import "npm:bootstrap/scss/functions";

/* --- Theme specific variables -------- */

$theme-color-yellow: #f4f021;

$body-bg: $theme-color-yellow;
$headings-font-weight: 700;
$headings-line-height: 1.1;

$line-height-base: 1.8;
$font-size-base: 1.125rem;
$font-weight-normal: 500;
$font-family-sans-serif: Poppins, sans-serif;
$body-color: black;


$link-color: black;
$link-decoration: none;
// $link-hover-color:  shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: underline;

$offcanvas-horizontal-width: 100%;
$offcanvas-bg-color: $theme-color-yellow;
$offcanvas-color: black;

$bootstrap-icons-font-dir: "npm:bootstrap-icons/font/fonts/";


/* --- Imports ---------------------------------------------------- */
@import "npm:bootstrap/scss/bootstrap";

@import "npm:@fontsource/poppins/latin-500.css";
@import "npm:@fontsource/poppins/latin-700.css";

@import "bootstrap-icons/font/bootstrap-icons";
@import "npm:bootstrap-icons/font/bootstrap-icons.css";

@import "print.scss" print;


/* --- Custom styles ---------------------------------------------------- */
html {
    scroll-behavior: smooth;
    }
body {
    padding: 0;
    }

.site-header {
    margin-top: 1rem;
}


.toggler,
.offcanvas-close {
    font-size: 2rem;
    padding: 0.25rem;
    color: black;
}

.nav-item {
    padding: 1em 0;
}


.site-title { 
    font-size: larger; 
    font-weight: 700;
}

h1 {
    margin-top: 2rem;

    --minFontSize: 32px;
    --maxFontSize: 100px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );

    @include media-breakpoint-up(lg) {
        margin-right: 25%;
    }
}

h1 + p {
    margin-bottom: 6rem;
    font-weight: 700;
    // font-size: calc(2 * 1rem);

    --minFontSize: 22px;
    --maxFontSize: 30px;
    --scaler: 10vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
}


// .offcanvas-header, 
// .offcanvas-close, 
// .offcanvas-title {
//     border: 2px solid red;
// }


nav {
    a {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $body-bg;
        padding-bottom: 0.25rem;

        &:hover, 
        &.current-page {
            border-color: black;
            text-decoration: none;
        }

    }

}

section {
    margin: 3rem 0;
}

.section-body-right {
    @include media-breakpoint-up(md) {
        margin-left: 25%;
    }
}
.section-body-left {
    @include media-breakpoint-up(md) {
        margin-right: 25%;
    }
}

body > .container-all > footer {
    text-align: left;
    font-size: small;

    a {
        margin: 2rem 2em 2em 0;
        display: inline-block;
    }
}

.goto {
    white-space: nowrap;
    display: inline-block;
    padding: 1em 2em;
    background-color: black;
    color: $body-bg;
    text-decoration: none;
    transition: background-color 0.5s ease,
                color 0.5s ease;

    &:hover {
        background-color: $body-bg;
        color: black;
    }
}