---
title: Home
eleventyNavigation:
  key: Home
  order: 0
templateEngineOverride: njk,md
---


<h1>
  {{ site.subtitle }}
</h1>

<h2>
  {{ site.title }}
</h2>


{# We need asyncEach instead of a for loop for our async image shortcode to work #}
{% set cycle = cycler("odd", "even") %}
{% asyncEach section in collections.homesection %}
{% include 'partials/home-section.njk' %}
{% endeach %}
