<div class="d-flex w-100">
    <div class="d-none d-sm-block">
        <span class="site-title d-inline-block">
            <a href="/">
                {{ site.title }}
            </a>
        </span>
    </div>
    <div class="flex-grow-1 text-end">
        <nav class="d-block">
            {% set navPages = collections.all | eleventyNavigation %}
            {%- for entry in navPages %}
                <a 
                href="#section-{{ entry.title|slugify }}"
                class="nav-item d-block d-sm-inline-block text-center mx-1
                {% if page.url == entry.url %} current-page {% endif %}
                {% if loop.first %} first {% elif loop.last %} last {% endif%}
                ">
                {{ entry.key }}
                </a>
            {% endfor %}

            {% if site.instagram %}
                <a href="{{ site.instagram }}"
                    class="nav-item d-block d-sm-inline-block text-center mx-1"
                >
                    <i class="bi bi-instagram"></i>
                </a>
            {% endif %}
        </nav>
    </div>
</div>
