<div class="offcanvas-md offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="container-md">
    <div class="offcanvas-header">
      <span class="offcanvas-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close">
        <i class="bi bi-x-lg"></i>
      </span>
      <h5 class="offcanvas-title flex-grow-1 text-center" id="offcanvasResponsiveLabel">
        <span class="site-title d-inline-block">
          <a href="/">
              {{ site.title }}
          </a>
      </span>
      </h5>
    </div>
    <div class="offcanvas-body">
      {% include 'partials/nav.njk' %}
    </div>
  </div>
</div>
